:root {
  --primary-color: #fb929e;
  --secondary-color: #fff6f6;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--primary-font);
  font-weight: 700;
}

h1 {
  font-size: 96px;
  line-height: 1.2;
}

h2 {
  font-size: 64px;
}

h6 {
  font-size: 18px;
  font-family: var(--secondary-font);
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.hero h2 {
  font-family: var(--secondary-font);
  font-weight: 700;
}

.hero p {
  font-family: var(--secondary-font);
  font-size: 24px;
  line-height: 36px;
  font-weight: 400px;
}

.hero {
  padding: 100px;
  background-color: var(--secondary-color);
  padding: 100px;
}

.btn-main {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  padding: 18px 46px;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

.btn-main:hover {
  background-color: var(--primary-color);
  color: black;
}

.btn-app {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-weight: 500;
  padding: 18px 46px;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
.btn-app:hover {
  background-color: white;
  color: black;
  border-color: var(--primary-color);
}

.display-project {
  background-color: var(--secondary-color);
  padding: 40px;
}

.content {
  padding: 50px;
}
